<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordoñez Vasquez</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<script src="../js/scripts.js"></script>
<body>
        <div class="contenido">
        <h1>Cotizacion Vehículo</h1> 
        <form action="">
            <div class="datos">
                <p>Seleccione una Opción</p>
                <select required id="id_categoria" class="seleccion">
                    <option value="" disabled selected>Seleccione un Vehículo</option>
                    <option value="TOYOTA COROLLA 2022">TOYOTA COROLLA 2022</option>
                    <option value="NISSAN NP300 2024">NISSAN NP300 2024</option>
                    <option value="TOYOTA HYLUX 2024">TOYOTA HYLUX 2024</option>
                </select>
                <label id="id_info" for="">Información</label>
                <button class="button" type="submit">Aceptar</button>
            </div>
        </form>
    </div>
    
</body>
    <footer>
        <p>Ordoñez Vasquez. Todos los derechos reservados. 2024</p>
    </footer>
</html>