<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionario - Cotización</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<script src="../js/scripts.js"></script>
<body>

        <div class="contenido">
        <h1>Cotizacion Vehículo</h1> 
        <form action="">
            <div class="datos">
                <p>Seleccione una Opción</p>
                <select required id="id_categoria" class="seleccion">
                    <option value="" disabled selected>Seleccione un Vehículo</option>
                    <option value="Corolla 2025">Corolla 2025</option>
                    <option value="Hylux 2025">Hylux 2025</option>
                    <option value="4Runner 2025">4Runner 2025</option>
                    <option value="Land Cruiser 2025">Land Cruiser 2025</option>
                </select>
                <label id="id_info" for="">Información</label>
                <button class="button" type="submit">Aceptar</button>
                <button class="button_nav" type="button" onclick="redireccionarInicio()">Inicio</button>
                <button class="button_nav" type="button">Contactanos</button>
            </div>
        </form>
    </div>
    
</body>
    <footer>
        G18 -- Todos los derechos reservados. 2024
    </footer>
</html>