<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G18</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<script src="../js/scripts.js"></script>
<body class="body">
        <div class="contenido">
        <h1>Registrarse</h1> 
        <form onsubmit="redirigir(); return false;">
            <div class="datos">
                <p>Ingrese los datos Solicitados</p>
                <input class="input" id="id_nombre"  pattern="[A-Za-z\s]+" type="text" placeholder="Nombre" required>
                <input class="input" id="id_telefono" type="text" placeholder="Telefono" required>
                <input class="input" id="id_correo" type="text" placeholder="Correo Electronico" required>
                <button class="button" type="submit">Registrarse</button>

            </div>
        </form>
    </div>
    
</body>
    <footer>
        <p>G18 -- Todos los derechos reservados. 2024</p>
    </footer>
</html>